/AD-Tarea06/nbproject/private/
/AD-Tarea06/dist/
/AD-Tarea06/build/
/AD-Tarea06-E1/nbproject/private/
/AD-Tarea06-E1/dist/
/AD-Tarea06-E1/build/
/AD-Tarea06-E2/nbproject/private/
/AD-Tarea06-E2/build/